@import 'theme.scss';

.player {
  background-color: var(--bg-primary);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 101;

  footer.now-playing-container {
    background-color: var(--bg-secondary);
    border-top: 1px solid $night;
    display: flex;
    flex-direction: column;
    height: auto;
    user-select: none;
  }

  .now-playing-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90px;
  }

  .now-playing-bar-section:first-child { 
    margin-right: auto;
    justify-content: flex-start;
    
    .now-playing {
      padding-left: 5em;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .now-playing-bar-section:last-child { margin-left: auto;  }

  .now-playing-bar-section {
    height: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .now-playing {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 60px;
      width: 60px;
      margin-right: 20px;
    }

    .track-info {
      display: flex;
      flex-direction: column;

      color: var(--text-primary);
      line-height: 1.5;

      .track-info__name {
        color: var(--text-primary);
        font-size: 16px;
        margin-bottom: 5px;
      }

      .track-info__artist {
        color: var(--text-secondary);
        font-size: 13px;
      }
    }
  }
}