.playlist-list {
  display: flex;
  flex-direction: column;
}

.playlist-list__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-auto-flow: column;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
}