@import 'colors.scss';
@import 'css-vars/css-vars';

$css-vars-use-native: true;

$primary: $spotify;
$backgroundPrimary: $darkCharcoal;
$backgroundSecondary: $lightCharcoal;
$textPrimary: $bleach;
$textSecondary: $slateGrey;
$textAlternate: $darkGrey;

@include css-vars((
  --primary: $primary,
  --bg-primary: $backgroundPrimary,
  --bg-secondary: $backgroundSecondary,
  --text-primary: $textPrimary,
  --text-secondary: $textSecondary,
  --text-alternate: $textAlternate
));
