@import 'theme.scss';

.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PlayButton, .PauseButton, .PrevButton, .NextButton {
  margin: 0 10px;
  padding: 13px;
  background: transparent;
  border: 2px solid var(--primary);
  border-radius: 100%;
  outline: none;
  width: 50px;
  height: 50px;
  min-width: unset;

  .PlayIcon, .PauseIcon, .PreviousIcon, .NextIcon {
    fill: var(--primary);
  }
}

.PrevButton, .NextButton {
  opacity: 0.3;

  &.isEnabled {
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  &:hover {
    opacity: 0.3;
  }
}
