.nav-bar {
  display: flex;
  flex-direction: column;

  button {
    width: 100%;
    background: transparent;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }

  svg:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
  }

  @media (max-width: 760px) {
    display: none;
  }

  @media (max-width: 1260px) {
    button {
      font-size: 15px;
    }
  }
}
