li.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: var(--text-primary);

  &.playing {
    color: var(--primary);
    opacity: 0.8;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}